.jumbotron-fluid
{
    margin-top: 0px;
    background-image: url(images/zbanner6.png);
    background-size: cover;
    background-position: 0 33%;
    padding: 150px;
    margin-bottom: 15px;
}

body
{
    background-color:  #212529;
}
.row
{
    justify-content: center;
    color: whitesmoke

}

.row-cols-4
{
    background-color: #212529;
    color: whitesmoke;
    margin-top: 0px;
    font-size: 110%;
}
.info
{
    display: block;
}
.col-9
{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 150%;
}

.col-6
{
    text-align: left;
    margin-top: 15px;
}
